<!--The content below is only a placeholder and can be replaced.-->
<div clas="container">
    <mat-toolbar>
        <button mat-button>Пости</button>
        <button mat-button routerLinkActive="active" [routerLink]="['/stores']">Сади</button>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLinkActive="active" [routerLink]="['/grapes']">Виноград</button>
        <span class="fill-remaining-space"></span>
        <button mat-button>Корзина</button>
        <button mat-button>Вхід</button>
        <button mat-button>Вихід</button>
        <!-- <span class="fill-remaining-space"></span>
        <span>Все</span>
        <span class="fill-remaining-space"></span> -->
    </mat-toolbar>
    <!-- <app-stores></app-stores> -->
    <router-outlet></router-outlet>

</div>
<!-- <app-grapes></app-grapes> -->
<!-- <app-employees></app-employees> -->